
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  width: 100%;
}

.barra {
  width: 100%;
  background-color: #996596;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(196, 80, 99);
  padding: 5px 10px;
  border-radius: 10px;
}

.enlaces {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 10px 16px;
  background-color: rgb(196, 80, 99);
  border-radius: 10px;
  font-size: 17px;
}

.enlaces a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 12px;
  transition: 0.3s;
}

.enlaces a:hover {
  background-color: #ffffff;
  color: #996596;
  border-radius: 5px;
}




/*?productos*/
.titulo-productos {
  text-align: center;
  padding: 30px 0 10px;
}

.titulo-productos h1 {
  color: #996596;
  font-size: 24;
  font-weight: bold;
}

/* GRID DE HELADOS */
.contenedor-helados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-helado {
  background: #fff;
  border: 2px solid #996596;
  border-radius: 12px;
  text-align: center;
}

.card-helado img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-helado h3 {
  color: #996596;
  font-size: 1.1rem;
  margin: 12px 0 5px;
}

.card-helado p {
  color: #333;
  margin-bottom: 12px;
}

.card-helado:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.pie {
  background-color: #996596;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .barra {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-bottom: 10px;
  }
  .enlaces {
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .contenedor-helados {
    grid-template-columns: 1fr;
  }
  .card-helado img {
    height: 180px;
  }
}
